body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
    
  main {
    padding: 20px;
    margin-top: 100px;
  }
  
  .about-us {
    margin-bottom: 20px;
  }
  
  .about-us h2 {
    margin-bottom: 60px;
    font-size: 44px;
    text-align: center;
  }
  
  p {
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 28px;
  }
  
.card-main{
  height: 400px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 40px;
}
.card img{
  margin-top: 60px;
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}